Task2_n8n/Task2_Workflow_Shourya.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7d991423-ca78-4fff-8589-7dc4a6895d1a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "[https://jsonplaceholder.typicode.com/users]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b1134020-0297-4521-bc2b-b229f45fe8a5",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "07fbf439-4b17-4e3f-9d53-4117f78f3ca8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/posts?userId={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "17f0d24f-83c8-44e3-8439-790d46de7b54",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a0fc0c7-f1a8-4e54-a39e-490911defa49",
              "leftValue": "={{ $json.userId }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "ca375d9f-8dd0-4ae3-9e82-5b6215fd4af0",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "378aa5fd-1af6-4bb9-a8aa-5a494e7627dc",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "5f47ab38-243a-4b98-aaf7-b356a56f5814",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://webhook.site/02459669-2949-48a6-9a6e-5e8fed2f4d50",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Summary",
              "value": "=User ID {{ $json.userId }} has submitted their daily logs."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -80
      ],
      "id": "f613c81b-1b07-4136-a10e-f4b24e2a4c51",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1ecbec2f-ed31-4110-9c46-912135ee5ed7",
  "meta": {
    "instanceId": "ad07bf31761f19da64a735b2962ac82cabc618a7d220073bb500a5ad764770d1"
  },
  "id": "xFdQBgGW3PirKphF",
  "tags": []
}