Bonus_Monitor/Bonus_UptimeMonitor_Shourya.json.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "eb2b3165-8f3e-4065-ab13-b73e2350f85a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://demo.realworld.show",
        "options": {
          "lowercaseHeaders": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "fe50a918-5c95-4677-87c1-face2b706131",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfc4ef12-649c-47a3-8af2-449f166171ea",
              "leftValue": "={{ $json.response.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "3a0005ec-dd7e-48ac-a371-f32f1fe1d178",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://webhook.site/02459669-2949-48a6-9a6e-5e8fed2f4d50 ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Alert",
              "value": "=Warning: Web App is DOWN! Response code: {{ $json.response.statusCode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -80
      ],
      "id": "1195527e-011a-4158-9392-7246379f5398",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b95b3c8-e012-46f9-9470-e9ba752157ae",
  "meta": {
    "instanceId": "ad07bf31761f19da64a735b2962ac82cabc618a7d220073bb500a5ad764770d1"
  },
  "id": "Cw4E622ZuS2v7Q8n",
  "tags": []
}